body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 background-blend-mode: color-dodge;
}
.calculator {
  background: #087aeb;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(242, 237, 237, 0.2);
}
#display {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0.3erm 0.5rem 0.3rem;
  text-align: right;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-gap: 10px;
 justify-content: space-around
}
button {
  padding: 1rem;
  font-size: 1.2rem;
  
  cursor: pointer;
   background-color: #0e4277;
}